global
        #log /dev/log   local0
        #log /dev/log   local1 notice
        #log 127.0.0.1:514  local0
        #chroot /var/lib/haproxy
        #stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
        ssl-default-bind-options no-sslv3

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

frontend portal
        bind  {{ _vip }}:443 ssl crt /etc/ssl/private/ssl.com.crt
        option http-keep-alive
        option  forwardfor
        filter spoe engine modsecurity config /etc/haproxy/spoe-modsecurity.conf
        http-request deny if { var(txn.modsec.code) -m int gt 0 }
        use_backend vsp-portal-backend

backend vsp-portal-backend
        server vsp-portal-k8s {{in_be}}:443 ssl verify none

backend spoe-modsecurity
        mode tcp
        balance roundrobin
        timeout connect 5s
        timeout server  3m
        server modsecurity01 127.0.0.1:8888 check
        server modsecurity02 127.0.0.1:8889 check
        server modsecurity03 127.0.0.1:8890 check

